*{
    margin: 0px;
    padding: 0;
}
.homebox{
    background-image: url("assets/home1.jpg");
    max-width: 100vw;
    height: 1490px;

}

body{
    background-color: rgb(251, 250, 250);
}

.logo{
    color: aliceblue;
    font-size: 30px;
    padding: 10px ;
    position: relative;
    top: 2px;
    left: 5px;
    margin-top: 12px;

}

.container {
    display: flex;
    color: aliceblue;
    font-size: 25px;
    justify-content: end;
    font-weight: 900;
    gap: 55px;
    position: relative;
    top: 2px;
    padding: 0px ;
    position: relative;
}

.inside {
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    
    top: 150px;
    padding: 125px;
    
}

.inside>:nth-child(1) {
    font-size: 30px;
    padding: 45px;
}
.herobuttons{
    padding: 55px;
}
.herobuttons input{
    width: 55vw;
    height:100px;
    border-radius: 55px;
    font-size: 35px;
    text-align: justify;
    
}

.herobuttons button{
        background-color: rgb(4, 54, 93);
    height: 83px;
    width: 15vw;
    border-radius: 45px;
    color: rgba(207, 229, 248, 0.411);
    font-size: 35px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    text-shadow: 0px 0px 2px;
    box-shadow: 5px 2px 2px grey;
    position: absolute;
    top: 523px;
    right: 669px;
    cursor: pointer;
}

.masterbuttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    background: transparent;
}

.btn button{
    font-size: 45px;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid white;
    height: 75px;
    width: 10vw;
    border-color: aliceblue;
    border-radius: 45px;
    background-color: rgba(128, 128, 128, 0.504);
    cursor: pointer;
    box-shadow: 2px 1px 1px black;


}

.sepa {
    width: 100vw;
    height: 5px;
    background-color: rgb(246, 248, 249);
}

.brandbox {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content:center ;
    position: absolute;
    left: 200px;
    top: 1690px;

}

.brand {
    height: 1000px;
    width: 100vw;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


.brands {
    width: 10vw;
    height: 175px;
    border: 2px solid rgb(3, 0, 0);
    justify-content: center;
    padding: 5px 5px 5px;
    border-radius: 45px;
    align-items: center;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 20px; /* Adds space between the images */
    align-items: center; 
    box-shadow: 2px 2px 2px;
}
 .brands img{
    justify-content: center;
    width: 8vw;
    max-height: 155px;
    position: relative;
    padding: 5px;
 }

 .car-card {
  width: 20vw;
  height: 600px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  background: white;
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  font-size: 42px;
  border-radius: 20px;
  z-index: 1;
}

.car-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.car-info {
  padding: 15px;
}

.car-info h3 {
  margin: 0;
  font-size: 40px;
}

.car-info p {
  font-size: 26px;
  color: #666;
  margin-top: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.price {
  font-size: 40px;
  font-weight: bold;
}

.footer a {
  color: #4f46e5;
  text-decoration: none;
  cursor: pointer;
}

.carexplore {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 25px;
}

.carbox{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content:center ;
    position: absolute;
    left: 200px;
    top: 2300px;
}

.choicebox {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content:center ;
    position: absolute;
    left: 200px;
    top: 2310px;
}

.fairpricebox {
  display: flex;
  justify-content: center;
  text-align: center;
    background-color: rgba(170, 209, 231, 0.448);
  width: 80vw;
  align-items: center;
  padding: 2rem;
  position: absolute;
  left:  260px;
  

}

.fairpricevid video{
  height: 795px;
  width: 46vw;
  border-radius: 85px;
  
  
}

.fairpricetext {
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 25px 35px 55px;
  
}

.fairpricetext h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 110px;
}

.fairpricetext h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 75px;
}

.customlist {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding: 10px;
  text-align: left;
  list-style-type: none;
  justify-content: center;
  padding: 55px 55px 55px;
  margin-left: 95px;
}

.customlist li{
  padding: 25px;

}

.customlist li::before{
  background-image: url(https://hugeicons.com/icon/tick-03-bulk-rounded);
}

.customlist button{
  height: 80px;
  width: 250px;
  background-color: #326be5;
  border: 0;
  border-radius: 45px;
  align-items: center;
  position: absolute;
  top: 748px;
  right: 553px;
  cursor: pointer;

}

.sep2 {
  width: 100vw;
  height:150px;
  background-color: aliceblue;
}

.latestblogpost {
  position: absolute;
  top: 4350px;
  display: flex;
  align-items: center;
  gap: 35px;
  padding-left: 300px;
}

.onepost {
  width: 25vw;
  height: 650px;
  box-shadow: 5px 5px 5px#666;
  align-content: center;
  justify-content: center;
  border-radius: 25px;

}

.onepost img{
  height: 420px;
  width: 23vw;
  border-radius: 33px;
  position: relative;
  align-items: center;
  padding-left: 45px;

}

.capsule {
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  color: #66666696;
  padding: 30px;
}

.onepost p {
  font-size: 40px;
  padding: 25px;
}

.latestposthead {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content:center ;
    position: absolute;
    left: 200px;
    top: 4190px;
}

hr {
  border: none;
  height: 2px;
  background-color: #ccc; /* or any color */
  margin: 2rem 0;
  position: absolute;
  top: 3000px;
}

#why {
  position: absolute;
  top: 5150px;
  left: 30vw;
  font-size: 115px;
  color: rgb(146, 194, 236);
  text-decoration: wavy;
}
.choosings {
  display: flex;
  position: absolute;
  top: 5550px;
  left: 10vw;
  width: 80vw;


}

.hico {
  font-size: 40px;
  font-weight: 1100px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 10px;
}

.bico {
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
}

.ico svg{
  height: 100px;
  width: 500px;
  justify-items: center;
  position: absolute;
  bottom: 200px;
  /* left: 400px; */
}

.stats-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  gap: 5vw;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  top: 7200px;
  left: 15vw;
}

.stat h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5.5rem;
  margin: 0;
  font-weight: bold;
}

.stat p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  margin-top: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customerreviews {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 6200px;
  width: 100vw;
  background-color: aliceblue;

}

#left {
  width: 3vw;
  height: 100px;
  justify-content: center;
  text-align: center;
  margin: 95px;
  position: relative;
  top: 230px;
  border-radius: 35px;
  cursor: pointer;
}

#right {
  width: 3vw;
  height: 100px;
  justify-content: center;
  text-align: center;
  margin: 95px;
  position: relative;
  top: 230px;
  border-radius: 35px;
  cursor: pointer;
  
}

.humanimg img{
  padding: 25px;
  border-radius: 105px;
  box-shadow: #666 5px 5px 5px;


}

.custext {
  justify-content: center;
  text-align: center;
  padding: 75px;
}

.cusname {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: left;
  /* padding: 55px; */
  font-weight: 700;
}

.posti {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: left;
  
  /* padding: 55px;
  padding-top: 100px; */
}

.review {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  text-align: left;
  padding-top: 50px;
  font-size: 40px;
}

.cus {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 65px;
  position: absolute;
  top: 6000px;
  left: 200px;
  padding: 55px;
}

.cus svg{
  height: 50px;
  width: 50px;
 
}

.yourcar {
  position: absolute;
  top: 7700px;
  display: flex;
  width: 80vw;
  justify-content: center;
  gap: 5vw;
  position: absolute;
  left: 255px;
  height: 625px;


}

.sale {
  width: 35vw;
  justify-content: center;
  text-align: center;
  background-color: rgb(235, 202, 228);
  border-radius: 45px;


}

.buytext {
  font-size: 85px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 38px;
  text-align: left;
  font-weight: 700;
}

.buybody {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 35px;

}

.buybtn {
  height: 85px;
  width: 245px;
  background-color: blue;
  border: 0px;
  box-shadow: #ccc 5px 2px 2px;
  color: aliceblue;
  border-radius: 45px;
  margin-right: 720px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
}

.buy {
  width: 35vw;
  justify-content: center;
  text-align: center;
  background-color: rgba(202, 214, 238, 0.87);
  border-radius: 45px;
}

.salebtn {
  height: 85px;
  width: 245px;
  background-color: rgb(8, 8, 12);
  border: 0px;
  box-shadow: #ccc 5px 2px 2px;
  color: aliceblue;
  border-radius: 45px;
  margin-right: 720px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
}

.enddiv {
  position: absolute;
  top: 8500px;
  display: flex;

}

.joinhead {
  font-size: 105px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding: 40px;
}

.joinbody {
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  padding: 40px;
}

.em input{
  height: 80px;
  width: 755px;
  border-radius: 45px;
  border: 0px;
  background-color: #c0b9b980;
  color: rgb(218, 213, 213);
  font-size: 42px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   box-shadow: 2px 2px 2px;

}

.sup button{
  height: 79px;
  width: 355px;
  border-radius: 45px;
  border-radius: blue;
  box-shadow: 2px 2px 2px;
  font-size: 23px;
  background-color: #326be5;
  cursor: pointer;
  justify-content: center;
  padding: 25px;
}

.foot {
  position: absolute;
  top: 9000px;
  gap: 555px;
}

.footinfo {
  position: absolute;
  top: 9000px;
  display: flex;
  font-size: 45px;
  padding: 55px;
  background-color: #000000;
  width: 100vw;
  gap: 150px;
  font-size: calc(100%-20px);
}

.fc {
  display: flex;
  flex-direction: column;
  padding: 55px;
  color: aliceblue;
}

.ql {
  display: flex;
  flex-direction: column;
  padding: 55px;
  color: aliceblue;
}

.brandfoot {
  display: flex;
  flex-direction: column;
  padding: 55px;
  color: aliceblue;
}

.typefoot {
  display: flex;
  flex-direction: column;
  padding: 55px;
  color: aliceblue;
}

.fc a{
  color: aliceblue;
  gap: 15px;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;

}

.ql a{
  color: aliceblue;
  gap: 25px;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;

}

.brandfoot a{
  color: aliceblue;
  gap: 15px;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;

}

.typefoot a{
  color: aliceblue;
  gap: 15px;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 55px;
  color: aliceblue;

}

.social a{
  height: 55px;
  width: 55px;
}

.asocial svg{
  padding: 45px;
}
